secrets/*
!secrets/*.example

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log

packer_cache/
*.pkrvars.hcl
!example.pkrvars.hcl

id_rsa
id_ed25519
*.pem
!**/*.pub

.DS_Store
*.swp
